<table align='center' style='text-align:center'>
    <tr>
      <td align='center' style='text-align:center'>
        <img src="esCultura-long.png" width="163" height="96"></img>
        <h1><strong>{{title}}</strong></h1>
        <p>Estimat {{email_to}}:</p>
        <p>El teu compte d'organitzador a esCultura ha estat <strong>{{resolution}}</strong>.</p>
        <p>{{final_message}}</p>
        <p style="background-color: lightgray; width: 50%; margin-left: 25%; margin-right: 25%; overflow-wrap: normal;">IMPORTANT! No responguis a aquest correu, la direcció des de la qual s'ha enviat no està habilitada per rebre missatges. Recorda que esCultura mai t'enviarà per correu una solicitud perque informis de les teves dades personals ni de les teves claus.</p>
      </td>
    </tr>
  </table>